:root{
    --landing-color: rgb(1, 126, 1);
}

.headerBar {
    display: grid;
    padding: 50px;
    position: static;
    background-color: var(--landing-color)
}
.logo{
    display: flex;
    justify-content: center;
    height: 400px;
}
.container{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "header"
    "menu" "content" "footer";
    gap: 5px
}
.header {grid-area: header;}
.menu {grid-area: menu;}
.content {grid-area: content;}
.footer {grid-area: footer;}

.contentBars{
    height: 8px;
    position: static;
    background-color: var(--landing-color);
}